body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-weight: 600;
    font-size: 2.5em;
}
.title-name{
    color:  #ffa600;
}
.flixable{
    display:flex;
}
.title-content{
    width: 50%;
    padding: 90px 60px 30px;
}
.title-content img{
    width:100%;
    
}
.hireme-btn{
    text-decoration: none;
    background-image: linear-gradient(#e67300,#ff9933);
    padding: 12px 50px;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
}
.top-bar{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.hireme-btn-2{
    text-decoration: none;
    background-image: linear-gradient(#e67300,#ff9933);
    padding: 12px 50px;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
}
.big-dream{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.title-web{
    width: 40%;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;

}
#web-dev{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(192, 94, 2),rgba(252, 247, 0, 0.589));
    border-image-slice: 1;
}
#web-dev-2{
    border-left: 8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.experance{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}